In [104]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [105]:
df=pd.read_csv('../resources/Excel_sheets/Melbourne_housing_FULL.csv')
df.head(4)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [107]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [108]:
df.Type.unique()

array(['h', 'u', 't'], dtype=object)

In [109]:
df.Regionname.unique()

array(['Northern Metropolitan', 'Western Metropolitan',
       'Southern Metropolitan', 'Eastern Metropolitan',
       'South-Eastern Metropolitan', 'Eastern Victoria',
       'Northern Victoria', 'Western Victoria', nan], dtype=object)

In [110]:
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [111]:
df.groupby('Regionname')['CouncilArea'].unique()[:2].values

array([array(['Whitehorse City Council', 'Manningham City Council',
              'Banyule City Council', 'Boroondara City Council',
              'Knox City Council', 'Maroondah City Council',
              'Monash City Council', 'Nillumbik Shire Council'], dtype=object),
       array(['Casey City Council', 'Cardinia Shire Council',
              'Frankston City Council', 'Yarra Ranges Shire Council',
              'Manningham City Council'], dtype=object)              ],
      dtype=object)

Here whole area is divided into region then each region into Council and finally into suburb
Therefore we can delete Regionname and councilArea columns

In [112]:
df.Suburb.isna().any(axis=0)

False

In [113]:
df1=df.drop(['Regionname','CouncilArea','Postcode','Lattitude','Longtitude','Address','Date'],axis=1)
df1.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,NaN,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,NaN,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,1900.0,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,NaN,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,1900.0,4019.0

In [114]:
df.Method.unique()

array(['SS', 'S', 'VB', 'SP', 'PI', 'SN', 'W', 'PN', 'SA'], dtype=object)

In [115]:
df2=df1.copy()

In [116]:
app=pd.Series(dtype=float)
for _,subdf in df1.groupby('Suburb')["YearBuilt"]:
    subdf.fillna(subdf.mean(),inplace=True)
    app=pd.concat([app,subdf],axis=0)
df2.YearBuilt=app
df2[df2.YearBuilt.isna()].size

1708

In [117]:
cols=['Distance','Bedroom2','Bathroom','Car','Propertycount']
df2[cols]=df2[cols].fillna(0)

In [118]:
df2.Landsize.fillna(df2.Landsize.mean(),inplace=True)
df2.BuildingArea.fillna(df2.BuildingArea.mean(),inplace=True)

In [119]:
df2.isnull().sum()

Suburb              0
Rooms               0
Type                0
Price            7610
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
YearBuilt         122
Propertycount       0
dtype: int64

In [153]:
df2=df2.dropna()

In [154]:
inputs=pd.get_dummies(df2,columns=['Method','Suburb','Type','SellerG'],drop_first=True)

In [155]:
inputs.head()

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Propertycount,...,SellerG_hockingstuart/Harcourts,SellerG_hockingstuart/Marshall,SellerG_hockingstuart/Sweeney,SellerG_hockingstuart/Village,SellerG_hockingstuart/hockingstuart,SellerG_iHomes,SellerG_iOne,SellerG_iProperty,SellerG_iSell,SellerG_iTRAK
1,2,1480000.0,2.5,2.0,1.0,1.0,202.0,160.2564,1942.545455,4019.0,...,0,0,0,0,0,0,0,0,0,0
2,2,1035000.0,2.5,2.0,1.0,0.0,156.0,79.0000,1900.000000,4019.0,...,0,0,0,0,0,0,0,0,0,0
4,3,1465000.0,2.5,3.0,2.0,0.0,134.0,150.0000,1900.000000,4019.0,...,0,0,0,0,0,0,0,0,0,0
5,3,850000.0,2.5,3.0,2.0,1.0,94.0,160.2564,1942.545455,4019.0,...,0,0,0,0,0,0,0,0,0,0
6,4,1600000.0,2.5,3.0,1.0,2.0,120.0,142.0000,2014.000000,4019.0,...,0,0,0,0,0,0,0,0,0,0

In [188]:
from sklearn.model_selection import train_test_split

In [189]:
X_train,X_test,y_train,y_test=train_test_split(inputs.drop('Price',axis=1),inputs['Price'],test_size=0.2)

In [190]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge

In [191]:
score=np.ones(6).reshape(3,2)
score

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

Linear Regression model is overfitted hence low score for test set but high score for train set

h(x)=m1 + m2**x + m3**x^2 + ....

mse=(1/n)*(sum(y-h(x)))

In [192]:
reg=LinearRegression()
reg.fit(X_train,y_train)
score[0,0]=reg.score(X_test,y_test)
score[0,1]=reg.score(X_train,y_train)

Lasso is l1 regularised LinearRegression hence nearly same sore for train and test set

h(x)=m1 + m2**x + m3**x^2 + ....

mse=(1/n)**(sum(y-h(x))) + lambda**sum(|mi|)

In [193]:
lassoreg=Lasso(alpha=50,max_iter=1000,tol=0.1)
lassoreg.fit(X_train,y_train)
score[1,0]=lassoreg.score(X_test,y_test)
score[1,1]=lassoreg.score(X_train,y_train)

Ridge is l2 regularised LinearRegression hence nearly same sore for train and test set

h(x)=m1 + m2**x + m3**x^2 + ....

mse=(1/n)**(sum(y-h(x))) + lambda**sum((mi)^2)

In [194]:
ridgereg=Ridge()
ridgereg.fit(X_train,y_train)
score[2,0]=ridgereg.score(X_test,y_test)
score[2,1]=ridgereg.score(X_train,y_train)

In [195]:
pd.DataFrame(score,index=['Linear','Lesso','Ridge'],columns=['test','train'])

                test     train
Linear -2.193908e+12  0.683570
Lesso   6.695877e-01  0.678672
Ridge   6.710936e-01  0.682694

In [197]:
score[0,0]

-2193907684497.596

In [198]:
score[2,0]

0.6710936415858648