In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [12]:
df=pd.read_csv('../resources/Excel_sheets/spam.csv')

In [13]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [15]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [16]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [19]:
df['is_spam']=df.Category.apply(lambda x: 1 if x=='spam'else 0)
df.head(2)

  Category                                            Message  is_spam
0      ham  Go until jurong point, crazy.. Available only ...        0
1      ham                      Ok lar... Joking wif u oni...        0

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()
v=vectorizer.fit(df.Message)

In [31]:
X_train,X_test,y_train,y_test=train_test_split(df.Message,df.is_spam,test_size=0.2)

In [43]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(v.transform(X_train.values).toarray(),y_train)
model.score(v.transform(X_test.values).toarray(),y_test)

0.9811659192825112

### Using Pipeline

In [39]:
from sklearn.pipeline import Pipeline
classifier=Pipeline([('vectorizer',CountVectorizer()),
                      ('nb',MultinomialNB())
                     ])

In [40]:
classifier.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [41]:
classifier.score(X_test,y_test)

0.9856502242152466