In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv("D:/Users\Dell\Documents\Excel _sheets\weather_report.csv")

In [3]:
df

   day  temperature  windspeed  event
0    1           30          3   rain
1    2           32          5  sunny
2    3           40          7   snow
3    4           42          5   snow
4    5           45          9   rain
5    6           37          7  sunny
6    7           39          6   snow
7    8           46          8  sunny

#**READ FILES**

In [58]:
pd.read_csv("D:/Users\Dell\Documents\Excel _sheets\weather_report.csv",skiprows=0,nrows=3)   
# skip first no rows
# nrows no of rows to read

   day  temperature  windspeed  event
0    1           30          3   rain
1    2           32          5  sunny
2    3           40          7   snow

In [57]:
pd.read_csv("D:/Users\Dell\Documents\Excel _sheets\weather_report.csv",na_values=["not available","n.a"])

# if there is any value as not available or n.a change to NaN (None similar)
# use dictionary to filter on specific row
#eg  na_values={"temperature":["not available","n.a"],"windspeed":["not available","n.a",-1]}

   day  temperature  windspeed  event
0    1           30          3   rain
1    2           32          5  sunny
2    3           40          7   snow
3    4           42          5   snow
4    5           45          9   rain
5    6           37          7  sunny
6    7           39          6   snow
7    8           46          8  sunny

In [55]:
pd.read_csv("D:/Users\Dell\Documents\Excel _sheets\weather_report.csv",header=None,skiprows=1,names=["day","temperature","windspeed","event"])
# header =None -> dont make 1st row as header

   day  temperature  windspeed  event
0    1           30          3   rain
1    2           32          5  sunny
2    3           40          7   snow
3    4           42          5   snow
4    5           45          9   rain
5    6           37          7  sunny
6    7           39          6   snow
7    8           46          8  sunny

In [53]:
weather_data={
    "day":[1,2,3,4,5,6,7],
    "temperature":[32,33,45,56,37,48,41],
    "windspeed":[3,4,5,4,7,8,5]   
}

pd.DataFrame(weather_data)    # reading dictionary

   day  temperature  windspeed
0    1           32          3
1    2           33          4
2    3           45          5
3    4           56          4
4    5           37          7
5    6           48          8
6    7           41          5

In [62]:
dfxlsx=pd.read_excel("D:/Users\Dell\Documents\Excel _sheets\weather.xlsx","Sheet1")

###  WIRTE FILES

In [65]:
dfxlsx.to_excel("D:/Users\Dell\Documents\Excel _sheets\weather_return.xlsx","Sheet1",index=False,columns=["temperature","events"],header=False)

#**MANUPULATE DATA**

In [5]:
df.shape  # output is tuple

(8, 4)

In [6]:
df.head()  # no argument print first 5 rows else entered no of rows

   day  temperature  windspeed  event
0    1           30          3   rain
1    2           32          5  sunny
2    3           40          7   snow
3    4           42          5   snow
4    5           45          9   rain

In [8]:
df.tail(1)   # no argument print last 5 rows else entered no of last rows

   day  temperature  windspeed  event
7    8           46          8  sunny

In [2]:
df[2:5]  # slicing

   day  temperature  windspeed event
2    3           40          7  snow
3    4           42          5  snow
4    5           45          9  rain

In [3]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [4]:
df.day    # printing individual column

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
Name: day, dtype: int64

In [5]:
df["event"]

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
6     snow
7    sunny
Name: event, dtype: object

In [6]:
type(df['event'])

pandas.core.series.Series

In [7]:
df[["event","day"]]

   event  day
0   rain    1
1  sunny    2
2   snow    3
3   snow    4
4   rain    5
5  sunny    6
6   snow    7
7  sunny    8

In [8]:
df["temperature"].max()

46

In [9]:
df["temperature"].std()

5.718079098038831

In [10]:
df["temperature"].mean()

38.875

In [11]:
df.describe()

           day  temperature  windspeed
count  8.00000     8.000000   8.000000
mean   4.50000    38.875000   6.250000
std    2.44949     5.718079   1.908627
min    1.00000    30.000000   3.000000
25%    2.75000    35.750000   5.000000
50%    4.50000    39.500000   6.500000
75%    6.25000    42.750000   7.250000
max    8.00000    46.000000   9.000000

In [12]:
df[df.temperature>=35]

   day  temperature  windspeed  event
2    3           40          7   snow
3    4           42          5   snow
4    5           45          9   rain
5    6           37          7  sunny
6    7           39          6   snow
7    8           46          8  sunny

In [13]:
df[df.temperature==df.temperature.max()]

   day  temperature  windspeed  event
7    8           46          8  sunny

In [14]:
df[["day","temperature"]][df.temperature==df.temperature.max()]

   day  temperature
7    8           46

In [15]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [16]:
df.set_index("day",inplace=True)    # inplace=True modify original data else create new data frame

In [17]:
df

     temperature  windspeed  event
day
1             30          3   rain
2             32          5  sunny
3             40          7   snow
4             42          5   snow
5             45          9   rain
6             37          7  sunny
7             39          6   snow
8             46          8  sunny

In [18]:
df.loc[4]

temperature      42
windspeed         5
event          snow
Name: 4, dtype: object

In [19]:
df.iloc[4]

temperature      45
windspeed         9
event          rain
Name: 5, dtype: object

In [20]:
df.reset_index(inplace=True)
df

   day  temperature  windspeed  event
0    1           30          3   rain
1    2           32          5  sunny
2    3           40          7   snow
3    4           42          5   snow
4    5           45          9   rain
5    6           37          7  sunny
6    7           39          6   snow
7    8           46          8  sunny

In [21]:
df.set_index("event",inplace=True)
df

       day  temperature  windspeed
event
rain     1           30          3
sunny    2           32          5
snow     3           40          7
snow     4           42          5
rain     5           45          9
sunny    6           37          7
snow     7           39          6
sunny    8           46          8

In [40]:
df.loc["snow"]

       day  temperature  windspeed
event
snow     3           40          7
snow     4           42          5
snow     7           39          6

In [22]:
df=pd.DataFrame([[1,2],[4,5],[7,8]]
               ,index=['cobra','viper','winder'],
               columns=['maxspeed','shield'])

In [23]:
df.index

Index(['cobra', 'viper', 'winder'], dtype='object')

In [24]:
df.loc['viper']

maxspeed    4
shield      5
Name: viper, dtype: int64

## NEW

In [ ]:
x=100
ts = pd.Series(np.random.randn(x), index=pd.date_range("1/1/2000",periods=x,freq='D'))
ts = ts.cumsum()
ts.plot()

In [ ]:
np.random.randn(15)

In [ ]:
pd.date_range("1/1/2000",periods=3,freq='H')